{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}FileUploader{% endblock %}</title>
    <link href="{{ asset('bundles/philngfileupload/css/css.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/philngfileupload/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('bundles/philngfileupload/js/jquery.js') }}"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage')  }}">File Uploader</a>
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li><a href="{{ path('myfiles')  }}">My Files</a></li>
                    <li><a href="{{ path('logout')  }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('myfiles')  }}">Login</a></li>
                    <li><a href="{{ path('register')  }}">Register</a></li>
                {% endif %}

            </ul>
        </div>

    </div>
</div>

<br/><br/><br/><br/>

<div class="container">
    {% block body %}{% endblock %}
</div>

<div id="footer" class="container" style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class=" container navbar-inner navbar-content-center">
            <p class="text-muted credit"><a href="http://www.philng.com">Phil Nguyen</a> 2014</p>
        </div>
    </nav>
</div>

</body>
</html>