
{% extends '::layout.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h3>Login</h3>
                <hr class="colorgraph">

                <form role="form" method="post" action="{{ path('login_check') }}">

                <div class="form-group {% if error %}has-error{% endif %}">
                    <input type="text" class="form-control" name="_username" value="" placeholder="Username">
                </div>

                <div class="form-group {% if error %}has-error{% endif %}">
                    <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Login" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}