{% extends '::layout.html.twig' %}


{% block body %}

    {% if errors is defined %}
        {{ errors }}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="{{ path('register_do') }}" method="post">
                <h3>Please Sign Up <small>It's free and always will be.</small></h3>
                <hr class="colorgraph">

                <div class="form-group">
                    <input type="text" name="username" id="display_name" class="form-control input-md" placeholder="User Name" tabindex="3">
                </div>

                <div class="form-group">
                    <input type="text" name="email" class="form-control input-md" placeholder="Email Address" tabindex="3">
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control input-md" placeholder="Password" tabindex="3">
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}