
{% extends '::layout.html.twig' %}

{% block body %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style>
        .row {
            vertical-align: middle !important;
        }
    </style>
    <h2>My Files</h2>

    <table class="table table-striped">
        <tr>
            <th>File Name</th>
            <th>Download URL</th>
            <th># Downloads</th>
            <th>Delete</th>
        </tr>
    {% for file in files %}
        <tr>
            <td class="row">{{ file.name }}</td>
            <td class="row">
                <input class="form-control " type="text"
                    value="{{ app.request.getSchemeAndHttpHost() }}/download/{{ file.hashid }}" readonly/>
            </td>
            <td class="row">{{ file.numdownloads }}</td>
            <td class="row">
                <a onclick="return confirm('Are you sure you want to delete this file?');" href="{{ path('delete', {'id': file.id}) }}" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    {% endfor %}
    </table>





    <br>
    <h2>Upload File</h2>
    <form enctype="multipart/form-data" role="form" method="post" action="{{ path('uploadFile') }}">
        <input type="file" name="file"><br/>
        <button type="submit" class="btn btn-default">Upload</button>
    </form>

    <script>
        $("input[type='text']").css( 'cursor', 'copy' )
        $("input[type='text']").on("click", function () {
            $(this).select();

        });
       ;

    </script>

{% endblock %}