
{% extends '::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>File Uploader</h1>
        <p>Quick and easy way to share your files with friends!</p>
        <p>
            <a href="{{ path('register')  }}" class="btn btn-primary btn-large">
                Register Now!
            </a>
        </p>
    </div>
{% endblock %}